@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.swiper-button-next::after {
    display: none;
}
.swiper-button-prev::after {
    display: none;
}

.text-shadow{
    text-shadow: 0 0 6px #00000069;
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.swiper-slide img {
  display: block;
  width: 20%;
  height: 20%;
  filter: blur(2px);
  object-fit: cover;
  object-position: center;
  rotate: 45deg;
  /* transform: scale(0.6) translateX(-140%) translateY(0); */
  transition: all 0.7s ease;
}

.swiper-slide-active img {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  object-fit: cover;
  object-position: center;
  rotate: 0deg;
  /* transform: scale(1) translateX(0%) translateY(0%); */
  transition: all 0.7s ease;
}
